body {
  justify-self: center;
}
h3, p {
  margin: 0;
}
.display {
  display: flex;
  flex-direction: column;
}
.memory {
  flex: none;
  height: 15px;
  font-weight: 200;
  font-size: 10px;
}
.displayNumbers {
  flex: none;
}
.displayOperation {
  flex: none;
  height: 15px;
}
.numbersContainer {
  display: grid;
  width: 150px;
  height: 200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.numberButton {
  padding: 10px;
  font-size: 16px;
}

/* Специальный стиль для кнопки с цифрой 9 */
.numberButton:nth-child(10) {
  grid-column: 2;
}