:root {
  --primary-color: rgb(193, 70, 0);
  --secondary-color: rgb(255, 157, 35);
  --background-color: rgb(229, 208, 172);
  --hilight-color: rgb(254, 249, 225);
  --text-color: rgb(136, 91, 14);
}
body {
  justify-self: center;
  align-self: center;
  background-color: var(--background-color);
}
h3, p {
  margin: 0;
  color: var(--text-color);
}
button {
  border-radius: 100%;
  color: var(--hilight-color);
  background-color: var(--primary-color);
  border: 2px solid var(--hilight-color);
}
.equal, .clear {
  border-radius: 20px;
}
.display {
  display: flex;
  flex-direction: column;
}
.memory {
  flex: none;
  height: 15px;
  font-weight: 200;
  font-size: 10px;
}
.displayNumbers {
  flex: none;
}
.displayOperation {
  flex: none;
  height: 15px;
}
.numbersContainer {
  display: grid;
  width: 150px;
  height: 200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-right: 20px;
}
.numberButton {
  padding: 10px;
  font-size: 16px;
}
/* Специальный стиль для кнопки с цифрой 9 */
.numberButton:nth-child(10) {
  grid-column: 2;
}
.buttons {
  display: flex;
}
.operationsContainer, .numbersContainer, .equal, .clear {
  flex: none;
}
.operationsContainer, side {
  display: grid;
  width: 80px;
  height: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}