h3, p {
  margin: 0;
}
.display {
  display: flex;
  flex-direction: column;
}
.displayNumbers {
  flex: none;
}
.displayOperation {
  flex: none;
  height: 15px;
}
.memory {
  flex: none;
  height: 15px;
  font-weight: 200;
  font-size: 10px;
}